aside {
  padding: $space4;
  padding-top: $space6;
  margin: $space4 0;
  background-color: $lightgrey;
  position: relative;

  &::before {
    content: "Auch interessant";
    display: inline-block;
    padding: $space1;
    background-color: $grey;
    font-size: rem(14);
    position: absolute;
    top: 0;
    right: 0;
  }
  h2, h3 {
    margin-top: $space1;
  }
}
