@mixin nolist {
  list-style: none;
  padding: 0;
  margin: 0;
}

// hide only visually
// https://gist.github.com/jensgro/743c37c3c1b226f7917fa0fc0825e3c2
@mixin visuallyhidden {
  width: 1px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

// Color Function
// https://gist.github.com/lewismcarey/de2a70fe93ab235ba103
@function get-color( $color, $shade: 'base', $map : $custom-colors ){
  // check color exists
  @if (map-has-key($map, $color)) {
    $value: map-get($map, unquote($color));
    // check if color or map
    @if type-of($value) == color {
      // return color
      @return $value;
    }
    // check shade of color exists
    @if (map-has-key($value, $shade)) {
      // return shade of color
      @return map-get($value, $shade);
    }
  }
  // else do nothing
  @return null;
}

// transform a list of Sass-variables into custom properties
@mixin cssvars($vars, $target: ":root") {
  #{$target} {
      @each $name, $value in $vars {
          --#{$name}: #{$value};
      }
  }
}
