.nolist {
  @include nolist;
}

// https://piccalil.li/tutorial/creating-a-full-bleed-css-utility/
.full-bleed {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.bg-wrapper {
  background-color: get-color(grey);
}

.pb-0 {
  padding-bottom: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-4 {
  margin-bottom: $space4;
}

.mt-4 {
  margin-top: $space4;
}

.only-print {
  display: none;
}

@media print {
  .no-print {
    display: none;
  }
  .only-print {
    display: block;
  }
}
