{% include "partials/page-header.njk" %}
{% include "partials/navigation.njk" %}
{% include "partials/site-header.njk" %}
{{ content | safe }}
{% include "partials/footer.njk" %}
{% include "partials/youtube-script.njk" %}
{% include "partials/end.njk" %}
