{% set templateClass = "tmpl-codepen" %}

{% include "partials/page-header.njk" %}
{% include "partials/navigation.njk" %}
{% include "partials/site-header.njk" %}

<div class="container">
  <main class="codepen-cnt">
    <div class="codepen-overview neu">
    {% include "partials/codepenimage.njk" %}
    </div>
    {% include "partials/codepenlist.njk" %}
  </main>
</div>

{% include "partials/footer.njk" %}
{% include "partials/end.njk" %}
