{% set templateClass = "tmpl-home" %}

{% include "partials/page-header.njk" %}
{% include "partials/navigation.njk" %}
{% include "partials/site-header.njk" %}
<div class="container">
  <main class="home-cnt">
      {{ content | safe }}
  </main>
</div>
{% include "partials/footer.njk" %}
{% include "partials/youtube-script.njk" %}
{% include "partials/end.njk" %}


