---
layout: layouts/home.njk
permalink: /artikel.html
bodyClass: article

title: "Meine Artikel"
---

{% for post in collections.articleDescending %}
  {% if loop.first %}<ul class="index-list">{% endif %}
    {% include "partials/link-list-item.njk" %}
  {% if loop.last %}</ul>{% endif %}
{% endfor %}