---
layout: layouts/post.njk
permalink: /artikel.html
bodyClass: article

title: "Meine Artikel"
---

<ul>
  {%- for p in collections.article %}
    <li><a href="{{ p.url | url}}">{{ p.data.title }}</a></li>
  {%- endfor -%}
</ul>
