---
layout: layouts/post.njk
permalink: /article.html
bodyClass: article
eleventyNavigation:
  key: Artikel
  order: 4

title: "Meine Artikel"
headerImage: "875x250-green.png"
---

<ul>
  {%- for p in collections.article %}
    <li><a href="{{ p.url | url}}">{{ p.data.title }}</a></li>
  {%- endfor -%}
</ul>
