---
layout: layouts/home.njk

permalink: /index.html
bodyClass: index

title: "CSS-Weblog"
subline: "CSS und mehr"
---

    <h2>Artikel</h2>
    
    {% for post in collections.article %}
      {% if loop.first %}<ul class="index-list">{% endif %}
        {% include "partials/link-list-item.njk" %}
      {% if loop.last %}</ul>{% endif %}
    {% endfor %}
  
    <h2>Notizen</h2>
    
    {% for post in collections.notizen %}
      {% if loop.first %}<ul class="index-list">{% endif %}
        {% include "partials/link-list-item.njk" %}
      {% if loop.last %}</ul>{% endif %}
    {% endfor %}

    <h2>Linktipps</h2>
    
    {% for post in collections.linktipps %}
      {% if loop.first %}<ul class="index-list">{% endif %}
        {% include "partials/link-list-item.njk" %}
      {% if loop.last %}</ul>{% endif %}
    {% endfor %}

