---
layout: layouts/home.njk

permalink: /index.html
bodyClass: index

title: "CSS-Weblog"
subline: "CSS und mehr"
---

    <div class="full-bleed full-bleed-color">
      <h2 class="container">Notizen</h2>
    </div>
    {% for post in collections.notizenDescending %}
      {% if loop.first %}<ul class="index-list">{% endif %}
        {% include "partials/link-list-item.njk" %}
      {% if loop.last %}</ul>{% endif %}
    {% endfor %}


    <div class="full-bleed full-bleed-color">
      <h2 class="container">Linktipps</h2>
    </div>

    {% for post in collections.linktippsDescending %}
      {% if loop.first %}<ul class="index-list">{% endif %}
        {% include "partials/link-list-item.njk" %}
      {% if loop.last %}</ul>{% endif %}
    {% endfor %}

