---
layout: layouts/home.njk

permalink: /index.html
bodyClass: index
eleventyNavigation:
  key: home
  order: 1

title: "My title"
subline: "My subtitle"
headerImage: "875x250-myred.png"
---

{%- for item in categories %}
    <h2>{{ item.title }}</h2>
    {% if "post" in item.cat %}
      {% for post in collections.post %}
        {% if loop.first %}<ul>{% endif %}
          {% include "partials/link-list-item.njk" %}
        {% if loop.last %}</ul>{% endif %}
      {% endfor %}
    {% endif %}

    {% if "category2" in item.cat %}
      {% for post in collections.cat2 %}
        {% if loop.first %}<ul>{% endif %}
          {% include "partials/link-list-item.njk" %}
        {% if loop.last %}</ul>{% endif %}
      {% endfor %}
    {% endif %}

    {% if "category3" in item.cat %}
      {% for post in collections.cat3 %}
        {% if loop.first %}<ul>{% endif %}
          {% include "partials/link-list-item.njk" %}
        {% if loop.last %}</ul>{% endif %}
      {% endfor %}
    {% endif %}

{% endfor -%}
