---
layout: layouts/post.njk
permalink: /linktipps.html
bodyClass: linktipps

title: "Linktipps"
---

<ul>
  {%- for p in collections.linktipps %}
    <li><a href="{{ p.url | url}}">{{ p.data.title }}</a></li>
  {%- endfor -%}
</ul>
