---
layout: layouts/home.njk
permalink: /linktipps.html
bodyClass: linktipps

title: "Linktipps"
---

<ul>
  {%- for p in collections.linktippsDescending %}
    <li><a href="{{ p.url | url}}">{{ p.data.title }}</a></li>
  {%- endfor -%}
</ul>
