---
layout: layouts/post.njk
permalink: /notizen.html
bodyClass: notizen

title: "Notizen"
---

<ul>
  {%- for p in collections.notizen %}
    <li><a href="{{ p.url | url}}">{{ p.data.title }}</a></li>
  {%- endfor -%}
</ul>
