---
layout: layouts/post.njk
permalink: /notizen.html
bodyClass: notizen
eleventyNavigation:
  key: notizen
  order: 1

title: "Notizen"
headerImage: "875x250-green.png"
---

<ul>
  {%- for p in collections.notizen %}
    <li><a href="{{ p.url | url}}">{{ p.data.title }}</a></li>
  {%- endfor -%}
</ul>
