---
layout: layouts/post.njk
permalink: /posts.html
bodyClass: post

title: "My Posts"
eleventyExcludeFromCollections: true
---

<ul>
  {%- for p in collections.post %}
    <li><a href="{{ p.url | url}}">{{ p.data.title }}</a></li>
  {%- endfor -%}
</ul>
