---
eleventyExcludeFromCollections: true
permalink: /tags/{{ tag }}/
layout: layouts/tags.njk
bodyClass: tag

pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
    - codepen
    - article
    - notizen
  addAllPagesToCollections: true
---

<h1>Alle Seiten der Kategorie "{{ tag  }}"</h1>
{% set postslist = collections[ tag ] %}
{% include "partials/tagslist-light.njk" %}
