@use "../config" as *;

.codepen-overview {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $gap;
}

.codepen-list-wrapper {
  margin-block: $space6;
}
.codepenlist {
  columns: 2;
  column-gap: $gap;
}
