@use "../config/" as *;

.index-list {
    display: grid;
    gap: 20px;

    li {
        display: flex;
        gap: $space4;
    }

    a {
        display: block;
        font-size: rem(25);
        margin-block: $space05;

        &:hover, &:focus {
            color: get-color("red", "my");
        }
    }
}