@use "../config" as *;
.linklist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: $gap2;

    li {
        margin-bottom: $space2;
        padding: $space2;
        border-radius: 6px;
    
    &:nth-child(odd){
        color: var(--linklist-color);
        background-color: var(--linklist-background-color);
    }
    }
    span {
        display: block;
        margin-top: $space1;
    }
}