@use "../config" as *;
.list {
    padding-left: $space4;

    li {
        &::marker {
            color: var(--list-marker-color);
        }
    }
}

.list--ul {
    list-style-type: square;
}

.list--ol {
    list-style-type: decimal;
}