@use "../config" as *;

$nav-vars: (
  main-nav-bg-color: #{get-color("blue", "green1")},
  main-nav-item-text: #{get-color("black")},
  main-nav-item-bg-color: #{get-color("white")},
  main-nav-inactive-hover-bg: #{get-color("grey")},
  active-nav-bg-color: #{get-color("blue", "light1")},
  active-nav-text-color: #{get-color("black")},
);
@include cssvars($nav-vars, ".main-nav");

.main-nav {
  background-color: var(--main-nav-bg-color);

  nav {
    display: flex;
  }
  &__nav {
    display: flex;
    flex-wrap: wrap;
    gap: $space2;
    padding-inline: $space1;
    margin-block: 0;
  }

  &__item {
    color: var(--main-nav-item-text);
    background-color: var(--main-nav-item-bg-color);
    text-transform: capitalize;

    &:nth-child(1) {
      margin-right: auto;
    }

  }

  &__link {
    display: inline-block;
    color: currentColor;
    text-decoration: none;
    padding: $space1 $space4;

    &:hover,
    &:focus {
      background-color: var(--main-nav-inactive-hover-bg);
    }

    &--active {
      background-color: var(--active-nav-bg-color);
      color: var(--active-nav-text-color);
      font-weight: 700;
    }
  }
}
