@use "../config" as *;

$nav-vars: (
  main-nav-bg-color: transparent,
  main-nav-item-text: #{get-color("black", "lighter")},
  main-nav-item-bg-color: #{get-color("white")},
  main-nav-inactive-hover-bg: #259fb6,
  active-nav-bg-color: #259fb6,
  active-nav-text-color: #{get-color("black", "lighter")},
  
);
@include cssvars($nav-vars, ".main-nav");

.main-nav {
  //background-color: var(--main-nav-bg-color);
  box-shadow:  2px 8px rgba(15, 18, 25, 0.05);

  nav {
    display: flex;
    align-items: center;
  }
  
  &__logo {
    width: 48px;
    height: 48px;
    margin-right: 40px;
  }

  &__site-title {
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    gap: $space2;
    padding-inline: $space1;
    margin-block: 0;
    margin-left: auto;
  }

  &__item {
    color: var(--main-nav-item-text);
    text-transform: capitalize;

    &:nth-child(1) {
      margin-right: auto;
    }

  }

  &__link {
    display: inline-block;
    color: currentColor;
    text-decoration: 5px underline var(--main-nav-bg-color);
    text-underline-offset: 5px;
    padding: $space1 $space4;
    transition: text-decoration 0.5s ease;

    &:hover,
    &:focus,
    &--active {
      --main-nav-bg-color: #{get-color('green', 'medium')};
    }

    &--active {
      color: var(--active-nav-text-color);
      font-weight: 700;
    }
  }
}

body.index .main-nav__site-title {
  display: none;
}