@use "../config" as *;


.main-nav {
  box-shadow:  var(--main-nav-box-shadow);

  nav {
    display: flex;
    align-items: center;
  }
  
  &__logo {
    width: 48px;
    height: 48px;
    margin-right: $space6;
  }

  &__site-title {
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__toggle-button {
    display: flex;
    gap: $space2;
    font-size: 0.8rem;
    margin-left: auto;
    font-weight: bold;
    border: var(--toggle-button-border);
    padding: $space1;

    @media (min-width: $md) {
      display: none;
    }
    svg {
      fill: var(--text-color);
    }
  }

  // Der Navigations-Wrapper
  &__content {
    height: 100dvh;
    width: 100dvw;

    @media (min-width: $md) {
      position: static;
      margin-left: auto;
      display: contents;
    }

    &::backdrop {
      background-color: rgba(255,255,255, 0.5);
      position: fixed;
      inset: 0;
    }


  }

  &__close-button {
    position: absolute;
    top: $space2;
    right: $space2;
    font-weight: bold;
    font-size: 0.8rem;
    border: var(--toggle-button-border);
    padding: $space1;

    @media (min-width: $md) {
      display: none;
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: $space4;
    padding-inline: $space1;
    margin-block: $space2;
    
    @media (min-width: $md) {
      flex-direction: row;
      gap: $space2;
      margin-block: 0;
      margin-left: auto;
    }
  }

  &__item {
    color: var(--main-nav-item-text);
    text-transform: capitalize;

    &:nth-child(1) {
      margin-right: auto;
    }

  }

  &__link {
    display: inline-block;
    color: currentColor;
    text-decoration: 5px underline var(--main-nav-bg-color);
    text-underline-offset: $space1;
    padding: $space1 $space4;
    transition: text-decoration 0.5s ease;

    &:hover,
    &:focus,
    &--active {
      --main-nav-bg-color: var(--main-nav-active-bordercolor);
    }

    &--active {
      font-weight: 700;
    }
  }
}

body.index .main-nav__site-title {
  display: none;
}

