@use "../config" as *;

.site-header {
  position: relative;
  margin-top: $space5;

  @media print {
    aspect-ratio: auto;
  }
  &__headline {
    font-size: clamp(30px,6vw,4rem);
    line-height: 1;
  }
  
  &__subline {
    font-size: clamp(1.2rem,3.5vw,1.5rem);
  }

  &__headline-cnt {
    position: static;

    @media print {
      position: static;
    }
  }
}
