@use "../config" as *;

$site-footer-vars: (
  site-footer-bg: #{get-color("red", "my")},
  site-footer-color: #{get-color("white")},
  site-footer-border-top-color: #{get-color("blue", "medium")},
);

@include cssvars($site-footer-vars, ".site-footer-wrapper");

.site-footer {
  //border-top: 2px solid var(--site-footer-border-top-color);
  //padding: $space2 0;

  &__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-block: 0;

    .getback__link {
      margin-left: 0;
      margin-bottom: $space2;
      flex: 1 0 100%;

      @media (min-width: $md) {
        margin-right: auto;
        flex-basis: auto;
      }
    }

    li {
      margin-right: $space4;
    }
  }

  .index & {
    li:first-child {
      margin-left: 0;
    }
  }
  a {
    color: inherit;
  }
}

.sitefooter.sitefooter--home {
  .sitefooter__list {
    justify-content: flex-end;
  }
}

.site-footer-wrapper {
  color: var(--site-footer-color);
  background-color: var(--site-footer-bg);
  padding: $space1;
}
