@use "../config" as *;

.tags {
  margin-top: $space4;
}

.taglist {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: $tagspace2;
}

.taglist__link {
  display: flex;
  align-items: center;
  padding: $tagspace $tagspace2;
  border-radius: $space1;
  background-color: var(--tag-link-bg-color);
  color: var(--tag-link-color);
  text-decoration: none;
  transition: background-color 0.2s;

  &:hover, &:focus {
    background-color: var(--tag-link-hover-bg-color);
  }

  svg {
    margin-left: $space1;
    fill: currentColor;
    width: 16px;
    height: 16px;
  }
}

.list-item-tag {
  display: inline-block;
  margin: 0 $tagspace2 $tagspace2 0;
  padding: 0.025rem $tagspace;
  border-radius: $tagspace;
  background-color: var(--tag-link-bg-color);
  color: var(--tag-link-color);

  &:hover, &:focus {
    background-color: var(--tag-link-hover-bg-color);
  }
}