@use "../config" as *;

.nolist {
  @include nolist;
}

// https://piccalil.li/tutorial/creating-a-full-bleed-css-utility/
.full-bleed {
  width: 100vw;
  margin-left: calc(50% - 50vw);
}

.full-bleed-color {
  background-color: var(--full-bleed-bg);
  color: var(--full-bleed-color);
}

.only-print {
  display: none;
}

@media print {
  .no-print {
    display: none;
  }
  .only-print {
    display: block;
  }
}

.list__item {
  margin-bottom: $space2;
  font-size: rem(20);
}