---
title: Modalfenster (dialog, popover)
date: 2025-02-12
updated: 2025-02-17
---
<ul class="linklist">
{% for item in linktipps.modalLinks %}
  {% include "partials/link-list-item-linktipp.njk" %}
{% endfor %}
</ul>
