<li>
  {% if post.data.icon %}
  <svg class="svg-icon" role="img" aria-hidden="true"><use xlink:href="/assets/svg/webdev1.svg#{{post.data.icon}}"></use></svg>
  {% else %}
  <svg class="svg-icon" role="img" aria-hidden="true"><use xlink:href="/assets/svg/webdev1.svg#code"></use></svg>
  {% endif %}
  <div>
      <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      {% if post.data.date %}
      <div>
        {{ post.data.date | htmlDateString }}
      </div>
      {% endif %}
      {% if post.data.updated %}
      <div>Letztes Update: {{post.data.updated | htmlDateString}}</div>
      {% endif %}
      
      {% if post.data.info %}
      <div>
        {{ post.data.info }}
      </div>
      {% endif %}
  </div>
</li>