<li>
  <h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
  <ul class="list-item-meta">
    <li>{{ post.data.date | htmlDateString }}</li>
    {% if post.data.tags %}
    <li class="list-item-tags"> Tag(s):
      {%- for tag in post.data.tags -%}
        <span class="tag">
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
          <a href="{{ tagUrl | url }}">
            {{ tag }}
          </a>
        </span>
        {%- endfor -%}
      </li> 
      {% endif %}
  </ul>
</li>