<header class="main-nav no-print">
  <nav class="container">
    <img src="{{'/assets/img/logo/jg-logo-48x48.png' | url}}" alt="Logo von Jens Grochtdreis">
    <ul class="main-nav__nav">
    {%- for entry in mainnavigation %}
      <li  class="main-nav__item">
        <a  class="main-nav__link{% if entry.class == bodyClass %} main-nav__link--active{% endif %}" href="{{ entry.url | url }}">{{ entry.title }}  </a>
      </li>
    {%- endfor %}
    </ul>
  </nav>
</header>
