  <div class="container{%if headerClass%} {{headerClass}}{% endif %}">
    <header class="site-header">
     <div class="site-header__headline-cnt">
        <h1 class="site-header__headline">{{ title }}</h1>
        {% if subline %}
        <p class="site-header__subline">{{ subline }}</p>
        {% endif %}
     </div>
     {% if templateClass != "tmpl-home"%}
      <div class="date">Veröffentlicht am {{ date | htmlDateString }}</div>
      {% if updated %}
      <div class="date">Aktualisiert am {{ updated | htmlDateString }}</div>  
      {% endif %}
     {% endif %}    
    </header>
  </div>
