{% if source %}
{%- for source in source -%}
<aside class="source">
  <p><strong>Quelle</strong>: <a href="{{ source.url | url }}">{{source.title}}</a></p>
</aside>
{%- endfor -%}
{% endif %}

{% if sources %}
<aside class="sources">
  <div><strong>Quellen:</strong></div>
  <ul>
    {%- for source in sources -%}
    <li class="list__item">
      <a class="card__link--block" href="{{ source.url | url }}">
      {{ source.title }}
      </a>
    </li>
    {%- endfor -%}
  </ul>
</aside>
{% endif %}
